{
  "openapi": "3.1.0",
  "info": {
    "title": "pixelfamiliar.ca Action Bridge API",
    "version": "1.0.0",
    "description": "Executable actions for pixelfamiliar.ca via ClawTrak Action Bridge."
  },
  "servers": [{"url": "https://api.clawtrak.com"}],
  "security": [{"bearerAuth": []}],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "ClawTrak API key (ctk_live_...)"
      }
    }
  },
  "paths": {
    "/bridge/pixelfamiliar.ca/contact": {
      "post": {
        "summary": "Submit a contact inquiry to Pixel Familiar",
        "operationId": "contact_pixelfamiliar_ca",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {"type": "string", "description": "Sender's email address"},
                  "message": {"type": "string", "description": "Inquiry message"},
                  "name": {"type": "string", "description": "Sender's name (optional)"},
                  "company": {"type": "string", "description": "Company name (optional)"}
                },
                "required": ["email", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Action executed successfully"},
          "400": {"description": "Missing required fields"},
          "401": {"description": "Unauthorized - provide API key"},
          "429": {"description": "Rate limit exceeded"}
        }
      }
    },
    "/bridge/pixelfamiliar.ca/request_quote": {
      "post": {
        "summary": "Request a quote for a service from Pixel Familiar",
        "operationId": "request_quote_pixelfamiliar_ca",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {"type": "string", "description": "Your email address"},
                  "service_type": {"type": "string", "description": "Type of service needed (e.g., web design, branding, AI integration)"},
                  "name": {"type": "string", "description": "Your name (optional)"},
                  "company": {"type": "string", "description": "Company name (optional)"},
                  "budget": {"type": "string", "description": "Approximate budget range (optional)"},
                  "timeline": {"type": "string", "description": "Project timeline (optional)"},
                  "details": {"type": "string", "description": "Additional details (optional)"}
                },
                "required": ["email", "service_type"]
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Quote request submitted"},
          "400": {"description": "Missing required fields"},
          "401": {"description": "Unauthorized"},
          "429": {"description": "Rate limit exceeded"}
        }
      }
    }
  }
}